@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&family=Outfit:wght@400;700;900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --bg-main: #f7f3ee;
    --text-main: #0F172A;     
    --primary: #C5A059;       
    --accent: #1E293B;        
    --card-bg: #FFFFFF;      
  }

  [data-theme="dark"] {
    --bg-main: #0A0F14;       
    --text-main: #F1F5F9;    
    --primary: #D4AF37;       
    --accent: #1E293B;        
    --card-bg: #111827;       
  }#fba403

  body {
    font-family: "Poppins", sans-serif;
    @apply bg-[var(--bg-main)] text-[var(--text-main)] transition-colors duration-500;
  }

  h1, h2, h3, .main-heading {
    font-family: "Outfit", sans-serif;
  }
}

@layer components {
  .navbars {
    @apply sticky top-0 z-50 bg-[var(--bg-main)]/90 backdrop-blur-xl border-b border-gray-200/5 transition-all;
  }

  .menu a.active {
    @apply font-bold text-[var(--primary)] border-b-2 border-[var(--primary)] rounded-none bg-transparent;
  }

  .btn-gradient {
    @apply px-8 py-3 rounded-lg font-bold uppercase tracking-[0.2em] transition-all duration-500 shadow-xl inline-block text-center cursor-pointer;
    
    background-image: linear-gradient(135deg, #C5A059 0%, #F2CC8F 50%, #D4AF37 100%);
    color: #0A0F14;
    border: 1px solid transparent;

    &:hover {
      background-image: linear-gradient(135deg, #D4AF37 0%, #F2CC8F 50%, #C5A059 100%);
      border-color: rgba(255, 255, 255, 0.2);
      transform: translateY(-4px);
      box-shadow: 0 10px 30px rgba(212, 175, 55, 0.3);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .main-heading {
    @apply text-4xl md:text-5xl font-extrabold tracking-tighter text-center  transition-all duration-700 bg-gradient-to-r from-[#D4AF37] via-[#c79a51] to-[#C5A059] bg-clip-text text-transparent;
  }
  .car-card {
    @apply bg-[var(--card-bg)] border border-white/5 rounded-none p-0 overflow-hidden
           shadow-2xl transition-all duration-700;
    @apply hover:border-[var(--primary)]/30 hover:-translate-y-3;
  }

  .gold-glow {
    @apply shadow-[0_0_20px_rgba(212,175,55,0.2)];
  }

  .heading {
    @apply text-4xl md:text-5xl font-extrabold tracking-tighter text-center uppercase transition-all duration-700 bg-gradient-to-r from-[#D4AF37] via-[#F2CC8F] to-[#C5A059] bg-clip-text text-transparent;
  }
  .text-gradient-gold{
    @apply font-bold tracking-tighter text-center  transition-all duration-700 bg-gradient-to-r from-[#D4AF37] via-[#c79a51] to-[#C5A059] bg-clip-text text-transparent;
  }

}